
<!DOCTYPE html>
<html>
<head>
             
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" type="text/css" />
        
<script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
<script src="/assets/jquery.shuffleLetters.js"></script>
<script src="/assets/script.js"></script>

</head>
<body>

<div  style="position:absolute;left:510px; top:380px;z-index:0">
        <b>
         <div id="neonof">
          <img src="/images/NEONOFF.jpg">
         </div>
        </b>
</div>
<div id="container">LA JUANITA : Nacio en las periferias de la ciudad de M.D.P en el barrio Coronel Dorrego (Ex La Juanita) a fines de 1998.
		                    La banda comenzo como un trio rockero integrado por: El Colo (Guitarra y Voz) El Negro Mariano (Bajo) y Cannizzo (Bateria). Luego por distintas situaciones ajenas ala banda fuimos pasando por distintos colegas como: Claudio de baires, Rodo (Ex LAPOROTA), un loko que no recuerdo el nombre, Orli Di Neva (Ex EUTERPE) y finalmente Cattini Maximo (Que nos acompaña y nos aguanta desde hace ya varios años). Nuestro estilo es Rock con influencias Punkys, en el 2005 grabamos nuestro 1er CD "HABLEN AHORA..." y mucho tiempo despues (2012) editamos "BIENVENIDOS AL CLUB" ambos fueron grabados en los estudios C.G.S (mezclado y mazterizado por Harry). El nuevo disco cuenta con 14 temas y colaboraron artistas invitados amigos, entre ellos "Martxelo Sacco", Ale (en teclados) y el Gaucho. Actualmente LA JUANITA somos...ARIEL (voz y guitarra) - Mariano moncho (1era guitarra y coros) - Max (bajo) - Cannizzo (bateria) .
</div>      

</body>
</html>


