
<div align="center" style="position:absolute; overflow:hidden; left:480px; top:330px; visibility:visible;z-index:2">
    <b>
       <img src="/images/NEON.gif">
    </b>
</div>
<form action="/home/luz" >
    <div align="center" style="position:absolute; overflow:hidden; left:1400px; top:470px; visibility:visible;z-index:2">
        <b>
           <%= image_submit_tag "LUZON.png", :name => "luz" %>
        </b>
    </div>
</form >

