


<div align="center" style="position:absolute; overflow:hidden; left:480px; top:330px; visibility:visible;z-index:2">
    <b>
       <img src="/images/NEON.jpg">
    </b>
</div>


<form action="/home/index" >
    <div align="center" style="position:absolute; overflow:hidden; left:1400px; top:440px; visibility:visible;z-index:2">
        <b>
           <%= image_submit_tag "LUZOFF.png", :name => "luzon" %>
        </b>
    </div>
</form >