
 
<div align="center" style="position:absolute; overflow:hidden; left:700px; top:330px; visibility:visible;z-index:3">
        <b>
        <video   width="480" height="320" controls="controls" src="/videos/video.mp4"</video>
       </b>
</div>

  
<div align="center" style="position:absolute; overflow:hidden; left:711px; top:700px; visibility:visible;z-index:3">
        <b>
          <audio src="/audios/CORRIENDO.mp3" preload="auto" />
        </b>
</div>  


